*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    background: radial-gradient(circle, #111, #000);
    color: #fff;
}
.container{
    text-align: center;
}
h1{
    font-size: 2.5rem;
    margin-bottom:  10px;
}
p{
    color:#aaa;
    margin-bottom: 30px;
}
.lamp{
    position: relative;
    margin-bottom: 40px;

}
.wire{
    width: 3px;
    height: 120px;
    background: #777;
    margin: auto;
}
.grow{
    position: relative;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, rgba(255,255,150,0.6));
    opacity: 0;
    transition: 0.5s;
    
}
.bulb{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #222;
    margin: auto;
    transition: 0.4s;
    cursor: pointer;
}
.switch{
    width: 70px;
    height: 35px;
    background: #333;
    border-radius: 50px;
    position: relative;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}
.toggle{
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    top: 2.5px;
    left: 3px;
    transition: 0.3s;

}
body.on{
    background: radial-gradient(circle, #fff,#ddd);
    color: #111;
}

body.on .bulb{
    background: #ffe066;
    box-shadow: 0 0 40px #ffe066,
    0 0 80px #ffd700,
    0 0 120px #ffea00;
}
body.on .grow{
    opacity: 1;
}
body.on .switch{
    background: #4caf50;
}
body.on .toggle{
   left: 37px;
}